<ion-header>
  <ion-navbar>
    
    <ion-title color="dark">Home</ion-title>
  
  </ion-navbar>
</ion-header>

<ion-content class="background">
  
  <ion-grid fixed>
    <ion-list style="max-width: 600px; margin-right: auto; margin-left: auto">
      <ion-item style="max-width: 600px; margin-right: auto; margin-left: auto" *ngFor="let active of activity | async" 
        (click)="goToDetailPage($event, active)" class="background" text-wrap padding-bottom>
        
        <div *ngIf="activity?.length < 1">
          <hr>
            <p style="color: rgb(0, 110, 255)">No results found :(</p>
          </div>
        <ion-item class="background">
            <ion-avatar item-start>
                <img src="https://static.thenounproject.com/png/538846-200.png">
              </ion-avatar>
              <h2 style="color: rgb(0, 110, 255)" *ngIf="active.twoThumbsUpIsTrue" text-wrap padding-bottom>{{ active.username }}<span style="color: white"> shared an article</span></h2>
              <h2 style="color: rgb(0, 110, 255)" *ngIf="active.changedMindIsTrue" text-wrap padding-bottom>{{ active.username }}<span style="color: white"> found an article that expanded their perspective</span></h2>
        </ion-item>
              
        <img *ngIf="active.twoThumbsUpIsTrue" [src]="active.urlToImage">
        <img *ngIf="active.changedMindIsTrue" [src]="active.urlToImage">
          
        <h1 style="color: white" *ngIf="active.twoThumbsUpIsTrue" padding-top text-wrap>{{ active.title }}</h1>
        <h1 style="color: white" *ngIf="active.changedMindIsTrue" padding-top text-wrap>{{ active.title }}</h1>
        
        <h3 style="color: rgb(0, 110, 255)" *ngIf="active.twoThumbsUpIsTrue" padding-top padding-bottom text-wrap>{{ active.source.name }}</h3>
        <h3 style="color: rgb(0, 110, 255)" *ngIf="active.changedMindIsTrue" padding-top padding-bottom text-wrap>{{ active.source.name }}</h3>
    
      </ion-item>
    </ion-list>
  </ion-grid>

  <p padding style="max-width: 600px; margin-right: auto; margin-left: auto; color: white">Thank you for signing up to GoPulse. This tab shows the activity of users you are currently following. 
      You can read the news by category in the pulse tab and by publisher in the search tab. 
      Please email me at tom@gopulse.io if you have any questions or feedback and please don't forget to invite your friends! 
    </p>

</ion-content>

