$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #ffffff,
  secondary:  #04df04,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       rgb(0, 0, 0)
);

$toolbar-background: color($colors, secondary);
$toolbar-text-color: color($colors, dark);

$tabs-background: color($colors, secondary);
$tabs-tab-color-active: color($colors, light);
$tabs-tab-color: color($colors, dark);
$tabs-tab-color-inactive: color($colors, dark);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";