$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #ffffff,
  secondary:  #2AB759,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #1b1b1b
);

$toolbar-background: color($colors, secondary);
$toolbar-md-title-text-color: color($colors, dark);
$toolbar-ios-title-text-color: color($colors, dark);
$toolbar-ios-button-color: color($colors, dark);
$toolbar-md-button-color: color($colors, dark);

$tabs-background: color($colors, secondary);
$tabs-tab-color-inactive: color($colors, light);
$tabs-tab-color-active: color($colors, dark);
$tabs-tab-color: color($colors, dark);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";