.background {
    background: color($colors, dark)
}

.button {
    background: color($colors, dark)
}

.container {
    display: flex;
    justify-content: space-between;
}

.white-text {
    color: white; 
    max-width: 600px;
    margin-right: auto; 
    margin-left: auto
}
