<ion-header>

  <ion-navbar>
    <ion-title>{{ displayName }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="background">
 
  <ion-item style="max-width: 600px; margin-right: auto; margin-left: auto" class="background">
    
    <ion-avatar item-start>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROB37n5Wb_TTtHjAJoQq319S29DJT4tlthJQrp0tqfotqac6nL">
    </ion-avatar>
      
      <h2 *ngIf="displayName" style="color: white">{{ displayName }}</h2>
      <h2 *ngIf="followeeUsername" style="color: white">{{ followeeUsername }}</h2>
      <h2 *ngIf="followerUsername" style="color: white">{{ followerUsername }}</h2>
      <p style="color: white">{{ fullname }}</p>
      <p style="color: white">{{ followeeFullname }}</p>
      <p style="color: white">{{ followerFullname }}</p>
    
    <button ion-button color="secondary" outline icon-left (click)="follow()">
      <ion-icon name="person-add"></ion-icon>
        <div>Follow</div>
    </button>
  
    <button ion-button color="secondary" outline (click)="goToFollowers($event, uid)" icon-left>
      <ion-icon name="people"></ion-icon>
        <div>{{ (followerCount | async)?.length }} Followers</div>
    </button>

    <button ion-button color="secondary" outline (click)="goToFollowees($event, uid)" icon-left>
      <ion-icon name="people"></ion-icon>
        <div>{{ (followeeCount | async)?.length }} Following</div>
    </button>

  </ion-item>

  <ion-list>

      <ion-list style="max-width: 600px; margin-right: auto; margin-left: auto">
          <ion-item style="max-width: 600px; margin-right: auto; margin-left: auto" *ngFor="let active of activity | async" 
            (click)="goToDetailPage($event, active)" class="background" text-wrap padding-bottom>
      
      <h2 style="color: #2AB759" *ngIf="active.twoThumbsUpIsTrue">{{ displayName }}<span style="color: white"> shared an article</span></h2>
      <h2 style="color: #2AB759" *ngIf="active.changedMindIsTrue">{{ displayName }}<span style="color: white"> found an article that expanded their perspective</span></h2>
      <img padding-top *ngIf="active.twoThumbsUpIsTrue" [src]="active.urlToImage">
      <img padding-top *ngIf="active.changedMindIsTrue" [src]="active.urlToImage">

      <h2 padding-top style="color: #2AB759" *ngIf="active.followedIsTrue" text-wrap>{{ active.followerUsername }}<span style="color: white"> started following</span> {{ active.followeeUsername }}</h2>
      <h2 padding-top style="color: #2AB759" *ngIf="active.followingIsTrue" text-wrap>{{ active.followerUsername }}<span style="color: white"> started following</span> {{ active.followeeUsername }}</h2>
          
      <h1 padding-top style="color: white" *ngIf="active.twoThumbsUpIsTrue" text-wrap>
        {{ active.title }}
      </h1>
              
      <h1 padding-top style="color: white" *ngIf="active.changedMindIsTrue" text-wrap>
        {{ active.title }}
      </h1>
            
      <h3 padding-top padding-bottom  style="color: #2AB759" *ngIf="active.twoThumbsUpIsTrue" text-wrap>{{ active.source.name }}</h3>
      <h3 padding-top padding-bottom style="color: #2AB759" *ngIf="active.changedMindIsTrue" text-wrap>{{ active.source.name }}</h3>
      
    </ion-item>
  </ion-list>
