<ion-header>

  <ion-navbar>
    <ion-title>{{ source.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="background">
  
  <div style="max-width: 600px; margin-right: auto; margin-left: auto">
    
    <img src="{{ image }}"/>

    <div class="container">
      
      <button ion-button icon-start color="secondary" clear (click)="openWebpage()">
        <ion-icon name="open"></ion-icon>
        {{ (readCount | async)?.length }}
      </button>
   
      <button *ngIf="!hasLiked" ion-button icon-start color="secondary" clear (click)="twoThumbsUp()">
        <ion-icon name="share-alt"></ion-icon>
        {{ (voteCount | async)?.length }}
      </button>

      <button *ngIf="hasLiked" ion-button icon-start color="secondary" clear (click)="decTwoThumbsUp()">
        <ion-icon name="share-alt"></ion-icon>
        {{ (voteCount | async)?.length }}
      </button>

      <button ion-button icon-start color="secondary" clear>
          <ion-icon name="text"></ion-icon>
          0
        </button>

      <button ion-button icon-start color="secondary" clear (click)="directSend()">
        <ion-icon name="send"></ion-icon>
        0
      </button>

    </div>
</div>

    <h2 class="white-text" padding>{{ title }}</h2>
    <p class="white-text" padding>{{ description }}</p>
  <div padding style="max-width: 600px; margin-right: auto; margin-left: auto">
        <ion-textarea [(ngModel)]="message" type="text" placeholder="Say something smart .... "></ion-textarea>
        <button padding ion-button color="secondary" outline  small float-right (click)="sendComment()">Post</button>
  </div>
</ion-content>
