<ion-header>
  
  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="background">
  <div style="max-width: 600px; margin-right: auto; margin-left: auto">
   <p padding-top style="color: white">
    After a two month free trial for first time subscribers, the service will cost $2.99 a month. 
    This is to ensure the platform can remain independent without advertising revenue.
    In exchange for a few dollars each month you have a comitment from GoPulse
    that our highest priority will always be the well-being of our customers and society as a whole.
    We are so confident that you will be delighted with our product that credit card information is 
    not required until the end of the free trial.
  </p>
  <form [formGroup]="userForm" class="background" (ngSubmit)="createUser()">
    <ion-item class="background">
    <ion-label for='email' style="color: white" floating>Email</ion-label>
    <ion-input style="color: white" type="email" [(ngModel)]="email" formControlName="email"></ion-input>
  </ion-item>
  <ion-item class="background">
    <ion-label style="color: white" for="fullName" floating>Name</ion-label>
    <ion-input style="color: white" type="text" [(ngModel)]="fullName" [ngModelOptions]="{standalone: true}"></ion-input>
  </ion-item>
  <ion-item class="background">
    <ion-label style="color: white" for="displayName" floating>Username</ion-label>
    <ion-input  style="color: white" type="text" [(ngModel)]="displayName" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item class="background">
    <ion-label  style="color: white" for="password" floating>Password</ion-label>
    <ion-input  style="color: white" type="password" [(ngModel)]="password" formControlName="password" required></ion-input>
    </ion-item>
    <!-- <ion-item class="background">
        <ion-label  style="color: white" floating>Card Number</ion-label>
        <ion-input  style="color: white" type="password" ></ion-input>
        </ion-item>
        <ion-item class="background">
            <ion-label  style="color: white" floating>Experation Date</ion-label>
            <ion-input  style="color: white" type="password"></ion-input>
            </ion-item> -->
    <br>
    <div style="color: red" *ngIf="formErrors.email">
        {{ formErrors.email }}
      </div>
    <div  style="color: red" *ngIf="formErrors.password">
        {{ formErrors.password }}
      </div>
      <br>
      <br>
    <!-- <button block ion-button icon-start color="secondary" outline type="submit" [disabled]="!userForm.valid">Start your free trial</button>     -->
    <button block ion-button icon-start color="secondary" outline type="submit" [disabled]="!userForm.valid">Sign Up</button>
  </form>
</div>
</ion-content>